#landing-page {
  .conf-payment-container {
    margin-top: 0;
    text-align: center;
  }
  .top-button {
    margin-top: 20px;
  }
  .circle-date {
    margin: auto;
  }
  .location {
    margin-top: 30px;
    img {
      margin: auto;
      margin-bottom: 20px;
    }
    p {
      margin: 10px 0;
    }
  }

  @media (min-width: 375px) {

  }
  @media (min-width: 768px)  {

  }
  @media (min-width: 1024px)  {
    .conf-payment-container {
      margin-top: 30px;
      text-align: left;
    }
    .top-button {
      float: right;
      margin-top: 0;
      margin-right: 40px;
    }
    .circle-date {
      margin-left: 33.33333%;
      p:first-child {
        margin-top: 40px;
        margin-bottom: 0;
      }
      p:last-child {
        margin-top: 0;
        margin-bottom: 40px;
      }
    }
  }
}
.header {
  padding: 40px;
  .back-button {
    position: relative;
    background-color: #F1A380;
    border-radius: 50%!important;
    float: left;
    box-shadow: 0 5px 5px #333;
    height: 52px;
    width: 52px;
    a {
      height: 52px;
      width: 52px;
      font-size: 30px;
      color: white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      i {
        margin: 19px 11px;
      }
    }
  }

  h1 {
    color: white;
    font-size: 16px;
    text-align: center;
  }
}

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

#confirm-payment-1 {
  .enter-code {
    p {
      text-align: center;
      color: #fff;
    }
    input.code {
      text-align: center;
      width: 100%;
      color: #fff;
      background-color: transparent;
      border-top: 0;
      border-right: 0;
      border-left: 0;
      border-bottom: 5px solid #C9EFE6;
    }
    input.code:focus {
      outline: none;
    }
    @media (min-width: 375px) {
      p, input.code {
        font-size: 20px;
      }
    }
    @media (min-width: 768px)  {
      p, input.code {
        font-size: 36px;
      }
    }
    @media (min-width: 1024px)  {
      p {
        margin-top: 100px;
        font-size: 40px;
      }
      input.code {
        font-size: 40px;
      }
    }
  }
}

#confirm-payment-2 {
  .confirm {
    strong, p {
      color: #C9EFE6;
      font-size: 12px;
    }
    p {
      margin: 10px 0;
    }
    table.details {
      width: 100%;
      background-color: white;
      margin-bottom: 20px;
      tr {
        border: 2px solid #514F9D;
        td {
          font-size: 12px;
          padding: 20px;
        }
        td.type-icon {
          span.type {
            width: 24px;
            height: 24px;
            border-radius: 50%!important;
            display: inline-block;
          }
          span.festival {
            background-color: #fcc0b8;
          }
          span.vipd {
            background-color: #c9fff2;
          }
        }
        td.type-icon {
          width: 1%;
        }
        td.type {
          width: 30%;
          padding-left: 0;
        }
        td.total,
        td.amount {
          font-weight: bold;
        }
        td.amount {
          text-align: center;
        }
        td.total {
          text-align: right;
        }
      }
    }

    .confirm-payment {
      width: 100%;
      background-color: white;
      margin-top: 10px;
      padding: 20px;

      span.label {
        background-color: #514F9D;
        border-radius: 10px!important;
        color: #c9fff2;
        font-size: 12px;

      }
      p {
        color: silver;
      }
      .bank {
        text-align: center;
      }

      select, input {
        margin-top: 20px;
        width: 100%;
        color: #9d9d9d;
        background-color: transparent;
        border-top: 0;
        border-right: 0;
        border-left: 0;
        border-bottom: 1px solid #9d9d9d;
        padding-left: 0;
      }
      input::placeholder {
        color: silver;
      }
      select:active,
      input:active,
      select:focus,
      input:focus {
        outline: none;
      }
    }
  }
}

#confirm-payment-3 {
  .success {
    margin: auto;
    text-align: center;
    h1 {
      color: white;
      font-weight: bold;
      margin: 20px;
    }
    p {
      color: white;
      font-size: 16px;
      margin: auto;
      width: 332px;
    }
    a {
      font-size: 18px;
      color: white;
      font-weight: bold;
      display: block;
      margin-top: 20px;
    }
  }
  @media (min-width: 375px) {

  }
  @media (min-width: 768px)  {

  }
  @media (min-width: 1024px)  {
    .success {
      margin-top: 80px;
      h1 {
        font-size: 40px;
        margin: 30px;
      }
      a {
        margin-top: 60px;
      }
    }
  }
}