.page-content{
    margin-bottom: 50px;
}
.org-logo{
    margin-top: 30px;
}
.page-footer-copyright{
    margin-top: 30px !important;
}
.portlet{
    margin-bottom: 0;
}
.tnc_item{
    margin: 20px 0;
}