.ticket-summary{
    padding: 20px;
}
.ticket-summary .event-details{
    padding-top: 147px;
}
.ticket-item-container .ticket-table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 5px;
}
.ticket-table tr{
}

.ticket-table td{
    background-color: #fff;
    padding: 20px 5px;
    text-align: center;
}
.circle {
    width: 25px;
    height: 25px;
    -webkit-border-radius: 12.5px;
    -moz-border-radius: 12.5px;
    border-radius: 12.5px;
    margin: 0 auto;
}
.circle-reguler {
    background-color:#F9ACBC;
}
.circle-vip{
    background-color:#94D3BE;
}
.bank-name{
    margin-left: 20px;
}
.list-bank{
    border: solid 1px;
    padding: 5px;
}
.table-bank{
    margin: 50px 0;
}
.addon-email{
    padding: 6px 17px;
}

@media (max-width: 767px) {
    .name-container{
        padding-left: 15px !important;
    }
    .title-container{
        padding-right: 15px !important;
    }
    .portlet.light > .portlet-title > .nav-tabs > li > a {
        padding: 12px 5px 13px 5px;
        font-size: 10px;
    }
    .tab-pane {
        width: 100%;
    }
}
